.jumbotron p{
    margin-left: 10px;
}
.jumbotron h2{
    margin-left: 10px;
    font-family: galada;
}
.jumbotron h3{
    margin-left: 10px;
    font-family: galada;
}
.alert{
    margin-left: 25px;
    margin-right: 25px;
}
.checkout{
    display: center;
}
.checkout-alert{
    border: #e9cb6e 5px solid;
    color: #e9cb6e;
    background: rgb(114, 38, 38);
}

