
.jumbotron {
    margin: 10em 10%;
    background: rgb(228, 216, 216); 
    background: rgba(235, 232, 232, 0.945); 
    border-radius: 1.5em;
    min-width: 80%;
    position: sticky;
  }
  .person-wrapper {
    margin-bottom: 2em;
  }
  
  .carousel-caption{
    top: 200px;
    bottom: 1120px;
    font-family: galada;
    font-size: 98px; 
  }
  div.carousel-caption:p{
    position: sticky;
    color: linear-gradient(rgb(114, 38, 38), rgb(255, 228, 108));
    font-size: 100px;
  }
  
  .btn-primary {
    /* margin-left: 10px; */
    background-image: none;
    border: none;
    border-radius: 1.5em;
    background-color: rgb(114, 38, 38);
    
  }
  
  
  .h1{
    font-family: galada;
    margin-bottom: 1em;
  }

