.directions-button{
   display: -webkit-inline-box;
}
.store-1{
    text-align: center;
}
.store-2{
    text-align: center;
}
.store-3{
    text-align: center;
}
.locations-alert{
    border: #e9cb6e 5px solid;
    color: #e9cb6e;
    background: rgb(114, 38, 38);
}
.locations-alert2{
    border: #e9cb6e 5px solid;
    color: #e9cb6e;
    background: rgb(114, 38, 38);
}
.locations-alert3{
    border: #e9cb6e 5px solid;
    color: #e9cb6e;
    background: rgb(114, 38, 38);
}