.navbar{
    background: rgb(114, 38, 38);
    height: 53px;
    font-family: galada;
}
.navbar-header{
    border-bottom-style: 0;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand>img{
    padding: 11px 14px;
    height: 72px;
}
.navbar-inverse{
    border-radius: 0px
}
.navbar-collapse{
    background: rgb(114, 38, 38);
}
.badge{
    background: rgb(218, 57, 57);
    margin-bottom: 4px;
    z-index: 20;
}
@media (min-width: 768px){
    .container{
        width: 100%;
    }
}
