.btn{
    align-items: center;
    margin-top: 9px;
    margin-left: 25px;
    background-color: #E8C65E;
    
}
.hr{
  border-top-color: black;
}

.product-name{
  opacity: 1;
  position: absolute;
  font-size: 18px;
  color: #979393;
  z-index: 0;
}
.product-name:hover{
  opacity: 1;
  color: #e39f47;
}
.test:hover name{
  opacity: 0;
}
@media screen and (min-device-width:698px) {
    div#showgrid {
      width: 90%;
      margin: auto;
    }
  }
  
  div.column {
    border-style: solid;
    border-width: 5px;
    background-image: url('../assets/beans.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .row {
    width: 100%;
    margin: auto;
  }
  
  .onhoverinfo{
    padding-top: 5px;
    padding: 3.7px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    color: azure;
    text-align: center;
    background: #e39f47;
    position: relative;
    z-index: 50;
    
  }
   .onhoverinfo:hover{
    opacity: 1;
  } 

  @media (min-device-width: 698px) {
    .column {
      width: 230px;
      height: 230px;
      /* display: inline; */
      float: left;
    }
  }
  
  .column {
    width: 230px;
    height: 230px;
    margin: auto;
  }


  @media (min-device-width: 698px) {
    .column {
      width: calc(100%/3);
     
    }
  }
  
