.btn{
    align-items: center;
    margin-top: 9px;
    margin-left: 25px;
    background-color: #E8C65E;
    
}
.hr{
  border-top-color: black;
}

@media screen and (min-device-width:698px) {
    div#showgrid {
      width: 90%;
      margin: auto;
    }
  }
  
  div.column {
    border-style: solid;
    border-width: 5px;
    background-image: url('../assets/beans.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .row {
    width: 100%;
    margin: auto;
  }
  
  /* div.column:hover{
    opacity: 0.65;
    background: #e39f47;
  } */
  div.onhoverinfo{
    padding: 3.7px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    color: azure;
    text-align: center;
    background: #e39f47;
    
  }
  div.onhoverinfo:hover{
    opacity: 1;
  }
  
  
  @media (min-device-width: 698px) {
    .column {
      width: 230px;
      height: 230px;
      /* display: inline; */
      float: left;
    }
  }
  
  .column {
    width: 230px;
    height: 230px;
    margin: auto;
  }


  @media (min-device-width: 698px) {
    .column {
      width: calc(100%/3);
     
    }
  }
  
